@import url("https://fonts.googleapis.com/css?family=Nunito");
.btn {
  border: none;
  border-radius: 0;
}

.btn-primary {
  background: #2c3237;
}

.btn-primary:hover {
  background: #212529;
}

.table thead {
  background: #333940;
  color: #fff;
}

.table thead th {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.pagination a.page-link {
  color: #212529;
}

.form-upload {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.page-item.active .page-link {
  color: #fff;
  background: #333940;
}

.modal-header {
  border-radius: 0;
  background: #212529;
  color: #fff;
}

.modal-header .close {
  color: #fff;
}
