// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';

// Custom Css

.btn {
  border: none;
  border-radius: 0;
}

.btn-primary {
  background: lighten($primary-color, 5);
  &:hover {
    background: $primary-color;
  }
}

.table thead {
  background: lighten($primary-color, 8);
  color: #fff;
  th {
    border: 1px solid rgba(255, 255, 255, .1);
  }
}

.pagination a.page-link {
  color: $primary-color;
}

.form-upload {
  border: 1px solid rgba(0, 0, 0, .5);
}

.page-item.active .page-link {
  color: #fff;
  background: lighten($primary-color, 8);
}

.modal-header {

  border-radius: 0;
  background: $primary-color;
  color: #fff;

  .close {
    color: #fff;
  }
}

